body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}
.modal-title {
  text-align: center;
}
.modal-body {
  text-align: center;
}
.logo {
  width: 150px;
  height: auto;
  margin: 0 auto 30px;
}
p {
  font-size: 14px;
}
p.sub-text {
  margin-bottom: 60px;
}
#benefits1 {
  padding: 0;
}
.bg-2 {
  height: 450px;
  overflow: hidden;
  padding: 60px;
  background: url(../images/bg-2.jpg);
  background-size: cover;
  text-align: center;
}
.bg-2 img {
  width: 100%;
}
.img-block-2col .item-list-left {
  padding: 20px;
  height: 450px;
}
.process .color {
  color: #FFFFFF;
}
.bgblack-overlay {
  background: rgba(70, 71, 72, 0.82);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h2.front-title {
  position: relative;
  text-transform: none;
  color: #fff;
  line-height: 150%;
  font-size: 32px;
}
.lg-icon {
  position: relative;
  margin: 20px auto 0;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 40px;
}
a.lg-button {
  position: relative;
  z-index: 1;
  background: transparent;
  padding: 10px 30px;
  margin: 20px 0;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
}
a.lg-button:hover {
  background: #fff;
  color: #000;
}
.title h2 {
  margin-bottom: 0;
  font-size: 50px;
}
.title p {
  display: block;
  margin: -0 0 20px 0;
  font-size: 14px;
  color: #333;
}
.title.small h2 {
  margin: 40px 0;
  font-size: 32px;
  color: #323232;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
}
.title.small p {
  display: block;
  margin: -0 0 20px 0;
  font-size: 13px;
  color: #333;
}
p.sub-heading {
  margin: -37px 0 70px;
}
.facts-list {
  float: left;
  margin: 30px 0;
}
.facts-list h4 {
  text-transform: capitalize;
  color: #000;
}
.facts-list p {
  color: #666;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 20px;
}
.facts-list .icn-1 i {
  color: #A97AC5;
}
.facts-list .icn-2 i {
  color: #ECA457;
}
.facts-list .icn-3 i {
  color: #32BEA6;
}
.facts-list .icn-4 i {
  color: #C75C5C;
}
.process h4 {
  font-weight: 500;
}
.process p {
  font-size: 13px;
  color: #CFD1E0;
}
.industries {
  text-align: center;
  margin-top: 50px;
}
.industries .bg-4 {
  background: #EAEEF1;
  padding: 20px 0;
  margin-bottom: 20px;
}
.industries i {
  font-size: 30px;
  margin-top: 10px;
  display: block;
  color: #7D848A;
}
.industries p {
  margin: 10px 0 0;
  color: #505558;
  font-size: 12px;
}
.title.small h2 {
  margin: 20px 0 40px;
  font-size: 22px;
  color: #323232;
  padding-bottom: 10px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.title.small h2:after {
  left: 50%;
  margin-left: -40px;
}
.test-tit {
  width: 35%;
  float: left;
}
.testi {
  float: left;
  width: 65%;
}
#testimonials .item.container {
  width: 100%;
}
.qt-icon i {
  font-size: 30px;
}
section#testimonials {
  padding-bottom: 80px;
}
.test-tit .bg-white {
  margin-left: 50px;
  background: #fff;
  text-align: left;
  padding: 30px 20px;
}
.test-tit .bg-white h2 {
  color: #589C8C;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px;
}
.test-tit .bg-white h4 {
  color: #666;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 20px;
}
#social .title p {
  margin-top: -33px;
}
#modal-list .modal-content {
  padding: 10px;
}
#modal-list .form-group {
  margin-bottom: 15px;
}
#modal-list .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
#modal-list .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#modal-list button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.p-right {
  padding-right: 30px;
}
.p-right2 {
  padding-right: 50px;
}
#contactus {
  padding: 40px 0;
}
#contactus h2{
  padding-bottom: 10px;
}
#contactus .soc-list {
  margin: 0;
}
#contactus p.sub-heading {
  margin: 15px 0 20px;
}
#footer {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  padding:16px 0;
}
 @media screen and (max-width:992px) {
#header img {
  max-width: 75px;
}
.navbar .nav li a {
  color: #127ebd;
}
.navbar .nav li a:hover, .navbar .nav li.active a {
  color: #127ebd;
}
.intro-block h1.slogan {
  margin: 40px 10px 20px;
}
p.sub-text {
  margin: 0 20px 10px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin: 0;
  padding: 0;
  width: 100%;
}
#home .btn-content {
  width: 195px;
}
h1.slogan {
  font-size: 31px;
}
#brands h2, #contactus h2 {
  font-size: 31px;
}
#brands p.sub-heading, #contactus p.sub-heading {
  margin: 15px 0;
}
#contactus {
  padding: 80px 0 40px;
}
.btn-store {
  padding: 0 20px;
}
#footer {
  padding: 20px 10px;
  position: relative;
}
.footer-copy {float:none !important; text-align:center;}
}
