@charset "utf-8";
/* CSS Document */

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: #313131;
}
.modal-title {
  text-align: center;
}
.modal-body {
  text-align: center;
}
.logo {
  width: 150px;
  height: auto;
  margin: 0 auto 30px;
}
.logo1 {width:150px; height:auto; max-width:150px;}
.dropzone {
  min-height: 250px;
  width: 300px;
}
.dz-message {
  padding-top: 100px;
}
.dropzone .dz-preview, .dropzone-previews .dz-preview {
  margin-top: -80px;
}
.middle-box {
  max-width: 600px;
}
.loginscreen.middle-box {
  width: 600px;
}
.logo-b {
  margin-right: -185px;
  margin-top: 90px;
}
.btn-primary {
  background: #65cdf1;
  border-color: #65cdf1
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
  background: #47afd3;
  border-color: #47afd3
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}
.nav-header {
  background-image: none;
}
.pace .pace-progress {
  color: #47afd3;
  background: #47afd3;
}
body.mini-navbar .nav-header {
  background-color: #47afd3;
}
.nav > li.active {
  background: #121212;
  border-left: 4px solid #ffffff;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: #121212;
}
.text-error{
    color:red;
}